{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/normal.css')}}">
{% endblock %}

{% block title %} Transcribe {% endblock %}

{% block content %} 
    
            {% block transcribe %} 
                {% if transcript != "" %}
                    <div class="main">
                        <div class="container">
                            <div>
                                <h1>Transcript</h1>
                                <p>{{ transcript }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endblock %}



    

{% endblock %}