{% extends "base.html" %}

{% block title %} Upload {% endblock %}

{% block content %}

    <h1>Upload</h1>

    <form action="/uploader" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" />
        <select name="lang">
            <option value="en-US" selected>English</option>
            <option value="th-TH">Thai</option>
        </select>
        <input type="submit" value="Transcribe" />
    </form>

    
    <!-- {% block transcribe %} 
        {% if transcript != "" %}
            <div>
                <h1>Transcript</h1>
                <p>{{ transcript }}</p>
            </div>
        {% endif %}
    {% endblock %} -->

{% endblock %}